/* .container{
  height: 3508;
  width: 2480;
 position: relative;
 background: red;

}

.content{
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
 
}

.content h1{
  margin-top: 165px;
  margin-left: 190px;
}

.content p{
   text-align: center;
  font-size: 16px;
  color: #4b5563;
  margin-top: 20px;
  line-height: 1.6;
}

button{
  margin-top: 10px;
  height: 40px;
  width: 100px;
  border: none;
  background-color: orange;
  columns: #fff;
  border-radius: 5px;
} */